@import url(../fonts/fontface.css);
#appNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7% 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999
}

.sticky {
  box-shadow: 1px 2px #0000000f,0 1px 3px #1018281a;
  background-color: #fff;
  -webkit-backdrop-filter: blur(67px);
  backdrop-filter: blur(67px);
  border-bottom: 1px solid #fff
}

.appNavbar__logo {
  width: 150px;
  height: 28px;
  position: relative;
  z-index: 1
}

.appNavbar__navLinks {
  list-style: none;
  display: flex;
  gap: 3rem;
  z-index: 1
}

.appNavbar__navLink {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: 400;
  font-size: 18px
}

.appNavbar__btn>a,
.appNavbar__btn>button {
  height: 45px;
  width: 100%;
  padding: 0 20px;
  border-radius: 21px;
  background: linear-gradient(to right, #0f6eff, #63a1ff);
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer
}

@media only screen and (max-width:991px) {
  .appNavbar__btn {
    display: none
  }
}

@media screen and (max-width:768px) {
  #appNavbar {
    flex-direction: column;
    overflow: initial
  }

  .appNavbar__btn,
  .appNavbar__navLinks {
    display: none
  }
}

.motion__nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh
}

.motion__navClose {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.d-none {
  display: none
}

.motion-ul12{
  top: 75px !important;
}

.motion__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: 100vh
}

.motion__button {
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px !important;
  height: 40px !important;  
  border-radius: 50%;
  background: #149efc
}

.motion__li,
.motion__ul {
  margin: 0;
  padding: 0
}

.motion__ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px
}

.motion__li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer
}

.motion__icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px
}

.motion__text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1
}

.motion__refresh {
  padding: 10px;
  position: absolute;
  background: #0006;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.appNavbar__navLinksResponsive {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1
}

.appNavbar__navLinkResponsive {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  font-weight: 400;
  font-size: 18px
}

.sidenavbarBtn {
  height: 42px;
  width: 100%;
  padding: 0 10px;
  border-radius: 21px;
  background: linear-gradient(to right, #0f6eff, #63a1ff);
  border: none;
  color: #fff;
  text-decoration: none
}

@media screen and (max-width:768px) {

  .motion__nav,
  .motion__navClose {
    display: block
  }
}

@keyframes astroFadeInOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes astroFadeIn {
  0% {
    opacity: 0
  }
}

@keyframes astroFadeOut {
  to {
    opacity: 0
  }
}

@keyframes astroSlideFromRight {
  0% {
    transform: translate(100%)
  }
}

@keyframes astroSlideFromLeft {
  0% {
    transform: translate(-100%)
  }
}

@keyframes astroSlideToRight {
  to {
    transform: translate(100%)
  }
}

@keyframes astroSlideToLeft {
  to {
    transform: translate(-100%)
  }
}

@media (prefers-reduced-motion) {

  ::view-transition-group(*),
  ::view-transition-new(*),
  ::view-transition-old(*) {
    animation: none !important
  }

  [data-astro-transition-scope] {
    animation: none !important
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Eudoxus Sans
}

body {
  background-color: #fff
}

.app__header {
  background-color: #fff;
  min-height: 820px;
  height: 100%;
  max-height: 100%
}

.fixFbAdAccount__app__header {
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  max-height: 100%
}

.app__header__us {
  background-color: #fff;
  min-height: 680px;
  height: 100%;
  max-height: 100%
}

.ctwa__app__header {
  min-height: auto;
  height: 100%;
  max-height: 100%
}

#ctwa__appNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 7% 15px
}

.ctwa__appNavbar__logo {
  width: 150px;
  height: 28px;
  position: relative;
  z-index: 1
}

.dflex {
  display: flex
}

.dflexr {
  display: flex;
  align-items: center
}

.dflexc {
  display: flex;
  flex-direction: column
}

.justifycenter {
  justify-content: center
}

.spacebetween {
  justify-content: space-between
}

.inter {
  font-family: Poppins
}

.poppins {
  font-family: Poppins
}
.poppins-medium {
  font-family: Poppins Medium
}

.poppins-semiBold {
  font-family: Poppins SemiBold
}

.poppins-thin {
  font-family: Poppins Thin
}

.cirka {
  font-family: Cirka
}


.pagination a:focus-visible,
.pagination a:hover {
  background-color: #000 !important
}

.pagination a:focus-visible svg path,
.pagination a:hover svg path {
  stroke: #fff
}

@media only screen and (max-width:768px) {
  #ctwa__appNavbar {
    flex-direction: column
  }
}

.main__section {
  justify-content: space-between;
  padding: 0 7%;
  margin-top: 6rem
}

.main__section__left {
  margin-top: 3rem
}

.left__heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 74px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #009abc, #7450f7, #eb0083);
  -webkit-background-clip: text
}

.left__subHeading {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 532px;
  max-width: 100%;
  margin-top: 1.5rem
}

.left__heading__us {
  font-weight: 600;
  font-size: 45px;
  line-height: 65px;
  color: #000
}

.left__heading__us>span {
  color: #326cf6
}

.left__subHeading__us {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  width: 532px;
  max-width: 100%;
  margin-top: 1.5rem
}

.left__btn {
  margin-top: 2.5rem;
  height: 56px;
  width: 234px;
  background-color: #0e61df;
  border: none;
  text-decoration: none;
  border-radius: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  cursor: pointer
}

.left__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #000;
  margin-left: 1.3rem
}

.left__tags {
  gap: 2rem;
  margin-top: 4rem;
  width: 100%;
  max-width: 100%
}

.left__tags__us {
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
  max-width: 100%
}

.center__coin {
  position: absolute;
  left: 45%;
  top: 50%
}

.main__section__right>img {
  position: relative;
  left: 60px;
  margin-top: 3rem;
  height: 580px;
  width: 669px;
  max-width: 100%;
  object-fit: contain
}

.main__section__right__us>img {
  position: relative;
  left: 60px;
  margin-top: 2rem;
  height: 580px;
  width: 669px;
  max-width: 100%;
  object-fit: contain
}

@media only screen and (max-width:1400px) {
  .left__subHeading {
    width: 432px
  }

  .main__section__right,
  .main__section__right__us {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end
  }
}

@media only screen and (max-width:1270px) {
  .main__section {
    flex-wrap: wrap;
    width: 100%
  }

  .main__section__left,
  .main__section__left__us,
  .main__section__right,
  .main__section__right__us {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .left__tags,
  .left__tags__us,
  .main__section__right,
  .main__section__right__us {
    justify-content: center
  }

  .main__section__right>img,
  .main__section__right__us>img {
    left: 0
  }

  .left__heading,
  .left__heading__us,
  .left__subHeading,
  .left__subHeading__us {
    text-align: center
  }

  .left__heading>br,
  .left__heading__us>br {
    display: none
  }

  .left__subHeading,
  .left__subHeading__us {
    width: 100%;
    max-width: 100%;
    padding: 0 12%
  }

  .left__tags,
  .left__tags__us {
    margin-top: 2rem
  }
}

@media only screen and (max-width:768px) {

  .main__section__right>img,
  .main__section__right__us>img {
    object-fit: contain
  }

  .main__section__left {
    margin-top: 2.5rem
  }

  .left__heading,
  .left__heading__us {
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    max-width: 90%
  }

  .left__subHeading,
  .left__subHeading__us {
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    max-width: 90%;
    padding: 0
  }
}

@media only screen and (max-width:576px) {
  .main__section {
    padding: 0 5%
  }

  .main__section__left {
    margin-top: 2rem
  }

  .left__heading,
  .left__heading__us {
    font-size: 40px;
    line-height: 50px
  }

  .left__subHeading {
    font-size: 16px;
    line-height: 20px
  }

  .left__btn {
    height: 50px;
    width: 200px;
    font-size: 16px;
    line-height: 20px
  }

  .left__note {
    font-size: 12px;
    line-height: 25px;
    margin-left: 0
  }

  .main__section__right>img {
    height: 100%;
    width: 100%
  }
}

@media only screen and (max-width:480px) {
  .main__section__left {
    margin-top: 1.5rem
  }

  .left__heading,
  .left__heading__us {
    font-size: 30px;
    line-height: 40px
  }

  .left__subHeading {
    font-size: 14px;
    line-height: 18px
  }

  .left__tags,
  .left__tags__us {
    flex-wrap: wrap;
    justify-content: space-around
  }
}
.slider-container1 {
  margin-top: 4rem !important;
  position: relative;
  width: 564px;
  height: 15px;
  margin-top: 40px;
  max-width: 100%;
}

.hidden{
  display: none;
}

.w-full{
  width: 100% !important;
}
.slider1 {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: transparent;
  outline: none;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.appNavbar__btn1 {
  height: 45px;
  width: 100%;
  padding: 0 20px;
  border-radius: 29px;
  background: linear-gradient(to right, #0f6eff, #63a1ff);
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.designnn{
 opacity: 0; transform: translateY(50px) translateZ(0px);
}
.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 3;
  border: 2px solid white !important;
  transition: .5s;
}

.slider1::-webkit-slider-thumb:hover{
  box-shadow: 0px 0px 0px 10px rgba(100, 100, 230, 0.225);
}

.slider1::-moz-range-thumb {
  height: 24px;
  border: 2px solid white !important;
  width: 24px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
  border: none;
  transition: .5s;
}
.slider1::-moz-range-thumb:hover{
  box-shadow: 0px 0px 0px 8px rgba(100, 100, 230, 0.225);
}

.slider-track {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  border-radius: 20px;
  z-index: 1;
  width: 100%;
  transition: .5s;
}


